/* Custom CSS for popup */
.fixed {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  
  .relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
  }
  
  .rounded-lg {
    border-radius: 8px;
  }
  
  .shadow-lg {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  